@import '../../assets/scss/_color.scss';
footer {
  box-sizing: border-box;
  height: 265px;
  padding-top: 80px;
  color: #d3d3d3;
  background: $secondary;
  .container {
    max-width: 889px;
    margin: 0 auto;
    .copyright {
      margin: 0;
      font-size: 14px;
      color: #656565;
      text-align: center;
      text-transform: uppercase;
      a {
        margin: 0 3px;
        font-weight: 700;
        color: #656565;
        &:hover {
          color: #fefefe;
        }
      }
    }
    .site-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto 35px;
      .site-title {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        a {
          display: block;
          height: 30px;
          padding: 0 10px;
          line-height: 30px;
          color: #fefefe;
          background: $primary;

          &:hover {
            background: #121212;
          }
        }
      }
      .button-jump-top {
        width: 30px;
        height: 30px;
        margin: 0 0 0 10px;
        font-size: 23px;
        color: #fff;
        text-align: center;
        background: $primary;
        &:hover {
          background: #121212;
        }
      }
    }
  }
}
