html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 18px;
  color: #424242;
  background: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 33px;
  text-transform: none;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

h4 {
  margin-bottom: 18px;
  font-size: 18px;
}

h5 {
  margin-bottom: 15px;
  font-size: 16px;
}

h6 {
  margin-bottom: 12px;
  font-size: 14px;
}

p {
  margin: 0 0 30px;
  line-height: 1.8;
}

a {
  color: #f03838;
  text-decoration: none;
}

ul,
ol {
  margin: 0 0 40px;
  line-height: 1.8;
  list-style-position: outside;
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 22px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 10px 0 0 20px;
}

ul li,
ol li {
  margin: 0 0 10px;
}

ul li:last-of-type,
ol li:last-of-type {
  margin-bottom: 0;
}

ul ul,
ol ul {
  padding-left: 0;
}

ul ol,
ol ol {
  padding-left: 5px;
}

blockquote {
  padding: 5px 30px;
  margin: 40px 0;
  border-left: 1px dotted #303030;
}

blockquote p {
  display: block;
  width: 100%;
  margin: 0;
  font-style: italic;
  color: #aeadad;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 40px 0;
}

pre {
  padding: 15px 20px;
  margin: 0 0 40px;
  background: #f1f0ea;
  border: 1px solid #dddbcc;
  border-radius: 3px;
}

hr {
  margin: 45px 0;
  border: none;
  border-bottom: 1px dotted #303030;
}

table {
  width: 100%;
  margin-bottom: 40px;
}

table th {
  padding: 0 10px 10px;
  text-align: left;
}

table td {
  padding: 10px;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f7f7f3;
}

table tr {
  border-bottom: 1px dotted #aeadad;
}

::selection {
  display: block;
  color: #000;
  background: #fff5b8;
}

::-moz-selection {
  color: #000;
  background: #fff5b8;
}

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-bottom: 20px;
  }
  img {
    margin: 30px 0;
  }
  blockquote {
    margin: 30px 0;
  }
  pre {
    margin: 30px 0;
  }
  hr {
    margin: 35px 0;
  }
}
